
.contenedor-azul{
    padding: 0px 20px 20px 20px;
}

.h2-tabla{
    padding: 20px 20px;
    color: purple;
    margin-bottom: 0px;
}

body{
    background-color: black;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

.text-input{
    font-size: 15px;
}