
.contenedor-azul{
    padding: 20px 20px;
}

.h1-tabla{
    padding: 20px 20px;
    color: purple;
}

body{
    background-color: black;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}